.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 15vh;
  background-color: #1b1b1b;
}

.navbar a {
  text-decoration: none;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
  position: absolute;

}

.navbar-logo2 {
  margin-left: 35px; 
  color: #163167;
  cursor: pointer;
}

.seeCarrito {
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

